.bg{ 
    background: url('https://walexbiznig.com/fileshare/wl/?id=Pt26KQ6XepoDVyE53FXeiNa3D0SyWyFt&fmode=open') no-repeat;
    width: 100%;
    height: 100vh;
    background-size:100%;

}
.bg2{ 
    background: url('https://walexbiznig.com/fileshare/wl/?id=suoTXr7ZcDuoQ9s9Z1rlQTqCjuAqhPRA&fmode=open') no-repeat;
    width: 100%;
    height: 100vh;
    background-size:100%;
}
.form-container{
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 20vh;

}